{% load static %}

<!-- GRID SECTION -->
<div class="tt-portfolio-slider cursor-drag-mouse-down" data-speed="1000" data-mousewheel="true" data-keyboard="true"
    data-simulate-touch="true" data-grab-cursor="true" data-pagination-type="fraction" data-parallax-mouse-move="true">

    <!-- Begin swiper container -->
    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">

        <!-- Begin swiper wrapper (required) -->
        <div class="swiper-wrapper" id="swiper-wrapper-6bfa1ac85278f0c1" aria-live="polite"
            style="cursor: grab; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-url="single-project-1.html"
                data-title="Victorian Girls" data-category="People" role="group" aria-label="1 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy swiper-lazy-loaded" src="{% static '' %}" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide swiper-slide-next" data-url="single-project-2.html" data-title="Smithy"
                data-category="Creative" role="group" aria-label="2 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy swiper-lazy-loaded" src="assets/img/portfolio/portfolio-2.jpg"
                        alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-3.html" data-title="Fashion Week" data-category="People"
                role="group" aria-label="3 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <video class="tt-bg-video" loop="" muted="" preload="metadata"
                        poster="assets/vids/fashion-week.jpg">
                        <source src="assets/vids/fashion-week.mp4" type="video/mp4">
                        <source src="assets/vids/fashion-week.webm" type="video/webm">
                    </video>
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-4.html" data-title="Mystery Forest"
                data-category="Nature" role="group" aria-label="4 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy swiper-lazy-loaded" src="assets/img/portfolio/portfolio-3.jpg"
                        alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-5.html" data-title="Red Package" data-category="Branding"
                role="group" aria-label="5 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy" src="assets/img/low-qlt-thumb.jpg"
                        data-src="assets/img/portfolio/portfolio-4.jpg" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-6.html" data-title="Studio Shoot" data-category="People"
                role="group" aria-label="6 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy" src="assets/img/low-qlt-thumb.jpg"
                        data-src="assets/img/portfolio/portfolio-5.jpg" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-7.html" data-title="Breaking Wave" data-category="Nature"
                role="group" aria-label="7 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy" src="assets/img/low-qlt-thumb.jpg"
                        data-src="assets/img/portfolio/portfolio-6.jpg" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide psi-image-is-light" data-url="single-project-8.html" data-title="Wall Lamp"
                data-category="Branding" role="group" aria-label="8 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy" src="assets/img/low-qlt-thumb.jpg"
                        data-src="assets/img/portfolio/portfolio-7.jpg" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

            <!-- Begin swiper slide 
            ======================== 
            * Change data attributes (data-url="...", data-title="...", data-category="...") according to your needs.
            * Use class "psi-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image.
            -->
            <div class="swiper-slide" data-url="single-project-9.html" data-title="Elegant Stoves"
                data-category="Creative" role="group" aria-label="9 / 9" style="width: 1920px;">
                <!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                <div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%"
                    style="transform: translate3d(-50%, 0px, 0px); transition-duration: 0ms;">
                    <img class="tt-psi-image swiper-lazy" src="assets/img/low-qlt-thumb.jpg"
                        data-src="assets/img/portfolio/portfolio-8.jpg" alt="Image"
                        style="translate: none; rotate: none; scale: none; transform: translate(-12.2347px, -2.4387px) scale(1.05, 1.05);">
                </div> <!-- /.tt-portfolio-slider-item -->
            </div>
            <!-- End swiper slide -->

        </div>
        <!-- End swiper wrapper -->

        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <!-- End swiper container -->


    <!-- Begin portfolio slider caption
    ==================================== 
    * Use class "psc-center" to align caption.
    * Use class "psc-stroke" to enable caption title stroke style.
    * Note: Titles and URLs are loaded from "swiper-slide" data attributes. Do not change them here!!!
    -->
    <div class="tt-portfolio-slider-caption psc-center">
        <div class="tt-ps-caption-inner"
            style="translate: none; rotate: none; scale: none; transform: translate(-17.1286px, -3.4141px);">
            <div class="tt-ps-appear" style="">
                <h2 class="tt-psc-elem tt-ps-caption-title"
                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                    <a href="single-project-1.html" data-cursor="View<br>Project" class="not-hide-cursor">Victorian
                        Girls</a></h2>
            </div>
            <div class="tt-ps-appear" style="">
                <div class="tt-psc-elem tt-ps-caption-category"
                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                    People</div>
            </div>
        </div> <!-- /.tt-ps-caption-inner -->
    </div>
    <!-- End portfolio slider caption -->

    <!-- Begin portfolio slider navigation 
    ======================================= -->
    <div class="tt-portfolio-slider-navigation tt-swiper-nav">
        <div class="tt-ps-nav-prev">
            <div class="magnetic-wrap">
                <div class="tt-ps-nav-arrow tt-ps-nav-arrow-prev magnetic-item tt-ps-nav-arrow-disabled" tabindex="-1"
                    role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-6bfa1ac85278f0c1"
                    aria-disabled="true"></div>
            </div>
        </div>
        <div class="tt-ps-nav-next">
            <div class="magnetic-wrap">
                <div class="tt-ps-nav-arrow tt-ps-nav-arrow-next magnetic-item" tabindex="0" role="button"
                    aria-label="Next slide" aria-controls="swiper-wrapper-6bfa1ac85278f0c1" aria-disabled="false"></div>
            </div>
        </div>
        <div class="tt-ps-nav-pagination tt-ps-nav-pagination-fraction swiper-pagination-horizontal"><span
                class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">9</span></div>
    </div>
    <!-- End portfolio slider navigation -->

</div>
<!-- GRID SECTION -->