  {% load static %}
  
  <!-- GRID SECTION -->
  <div class="tt-section">
    <div class="tt-section-inner">
        <div id="portfolio-grid" class="pgi-cap-inside pgi-cap-hover">
            <div class="tt-grid ttgr-layout-1-2 ttgr-gap-4">
                <div class="tt-grid-top">
                    <div class="tt-grid-categories">
                        <!-- Add your categories/filter here if needed -->
                    </div>
                </div>
                <div class="tt-grid-items-wrap isotope-items-wrap" style="position: relative;">
                    {% for post in posts %}
                        <div class="tt-grid-item isotope-item {{ post.style|default:'default' }}" style="position: absolute;">
                            <div class="ttgr-item-inner">
                                <div class="portfolio-grid-item">
                                    <a href="{% url 'KultureKorner_postArt:post_detail' post.id %}" class="pgi-image-wrap not-hide-cursor" data-cursor="View<br>Project">
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="anim-zoomin-wrap" style="overflow: hidden;">
                                                <div class="pgi-image-inner anim-zoomin">
                                                    <figure class="pgi-image ttgr-height">
                                                        <img 
                                                        src="{{ post.image_1.url }}"
                                                        alt="{{ post.title }}">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pgi-caption">
                                            <div class="pgi-caption-inner">
                                                <h2 class="pgi-title">{{ post.title }}</h2>
                                                <div class="pgi-categories-wrap">
                                                    <div class="pgi-category">{{ post.style|default:"Uncategorized" }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- GRID SECTION -->