{% load static %}
<div class="tt-section padding-bottom-xlg-150">
    <div class="tt-section-inner tt-wrap">

        <!-- Begin page nav 
        ==================== 
        * Use class "tt-pn-stroke" to enable title stroke style.
        * Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
        -->
        <div class="tt-page-nav tt-pn-scroll">
            <a href="contact.html" class="tt-pn-link anim-fadeinup not-hide-cursor" style="">
                <div class="tt-pn-title">Let's talk</div>
                <div class="tt-pn-hover-title"><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span><span>Let's talk</span></div>
            <div class="tt-pn-image">
                <img src="assets/img/page-header/ph-3.jpg" alt="image">
            </div></a> <!-- /.tt-pn-link -->

            <div class="tt-pn-subtitle anim-fadeinup" style="">Get in Touch</div>

            <!-- Use if destination page contains page header image -->
            
        </div>
        <!-- End page nav -->

    </div> <!-- /.tt-section-inner -->
</div>